header {
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: blue;
    text-align: center;
}

header p {
    font-weight:normal;
    font-size: 18px;
    color: blue;
    text-align: center;
    padding: 10px 200px;
}

main {
    display: flex;
    justify-content:center;
}